input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  vertical-align: middle;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
  overflow: visible;
}

.label--active {
  text-decoration: line-through;
  color: var(--secoundary-font-color);
}

.checkbox--active {
  border-color: rgb(82, 82, 249);
  background: rgb(76, 76, 243);
}
