.todo {
  width: 28rem;
  max-width: 80%;
  margin: 20px auto 20px auto;
  background-color: var(--primary-todo-bg-color);
  text-align: center;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 1.5px 1px 1px rgba(0, 0, 0, 0.3);
}

.content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;
}

.task {
  display: flex;
  background-color: var(--primary-task-bg-color);
  border-radius: 6px;
  justify-content: space-between;
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 1.5px 1px 1px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.task-main {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.task-main .tasks-input {
  align-items: center;
}

.task-buttons {
  display: flex;
  gap: 1rem;
}

.error {
  max-width: 30rem;
  margin: 1rem auto;
  padding: 1rem;
  background-color: var(--error-bg-color);
  border-radius: 6px;
  box-shadow: 1.5px 1px 1px rgba(0, 0, 0, 0.2);
}


@media (max-width: 30rem) {
  .tabs {
    gap: 0.5rem;
  }
  .error {
    max-width: 20rem;
  }
}
