.create{
    font-family: 'Roboto', 'sans-serif';
    padding: 0.5rem 2rem;
    color: var(--primary-btn-color);
    background-color: var(--primary-btn-bg-color);
    border-color: transparent;
    border-radius: 6px;
    box-shadow:1.5px 1px 1px rgba(0, 0, 0, 0.3);
    display: block;
}

.create:hover{
    background-color: var(--primary-btn-hover-bg-color);
    color: var(--primary-btn-hover-color);
}


.tab-button{
    background-color: transparent;
    color: var(--btn-tab-color);
    border-color: transparent;
    font-size: 1.2rem;
}

.active{
    text-decoration: underline;
    color: var(--btn-tab-active-color);
    background-color: transparent;
    
}

.block{
    background-color: var(--btn-block-bg-color);
}

.block:hover{
    background-color: var(--btn-block-hover-bg-color);
}