.button{
    font-family: 'Roboto', 'sans-serif';
    padding: 0.5rem 2rem;
    color: var(--primary-btn-color);
    background-color: var(--primary-btn-bg-color);
    border-color: transparent;
    border-radius: 6px;
    box-shadow:1.5px 1px 1px rgba(0, 0, 0, 0.3);
    display: block;
}

.button:hover{
    background-color: var(--primary-btn-hover-bg-color);
    color: var(--primary-btn-hover-color);
}

.block{
    background-color: var(--btn-block-bg-color);
}

.block:hover{
    background-color: var(--btn-block-hover-bg-color);
}