.create{
    font-family: 'Roboto', 'sans-serif';
    padding: 0.5rem 2rem;
    color: var(--primary-btn-color);
    background-color: var(--primary-btn-bg-color);
    border-color: transparent;
    border-radius: 6px;
    box-shadow:1.5px 1px 1px rgba(0, 0, 0, 0.3);
    display: block;
}

.create:hover{
    background-color: var(--primary-btn-hover-bg-color);
    color: var(--primary-btn-hover-color);
}


.delete{
    color: var(--primary-btn-color);
    background-color: var(--secoundary-btn-bg-color);
    border-color: transparent;
    border-radius: 4px;
    box-shadow:1.5px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
}

.delete:hover{
    background-color: var( --secoundary-btn-hover-bg-color);
    color: var(--primary-btn-hover-color);
}

.delete svg{
    width: 1.6rem;
    align-items: center;
}

.redact{
    color: var(--primary-btn-color);
    background-color: var(--primary-btn-bg-color);
    border-color: transparent;
    border-radius: 4px;
    box-shadow:1.5px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
}

.redact:hover{
    background-color: var(--primary-btn-hover-bg-color);
    color: var(--primary-btn-hover-color);
}

.redact svg{
    width: 1.6rem;
    align-items: center;
}

.tab-button{
    background-color: transparent;
    color: var(--btn-tab-color);
    border-color: transparent;
    font-size: 1.2rem;
}

.active{
    text-decoration: underline;
    color: var(--btn-tab-active-color);
    background-color: transparent;
    
}

.confirm-action{
    color: var(--primary-btn-color);
    background-color: var(--btn-confirm-bg-color);
    border-color: transparent;
    border-radius: 4px;
    box-shadow:1.5px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
}

.confirm-action:hover{
    background-color:  var(--btn-confirm-hover-bg-color);
    color: var(--primary-btn-hover-color);
}

.confirm-action svg{
    width: 1.6rem;
    align-items: center;
}

.cancel-action{
    color: var(--primary-btn-color);
    background-color: var(--secoundary-btn-bg-color);
    border-color: transparent;
    border-radius: 4px;
    box-shadow:1.5px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
}

.cancel-action:hover{
    background-color: var(--secoundary-btn-hover-bg-color);
    color: var(--primary-btn-hover-color);
}

.cancel-action svg{
    width: 1.6rem;
    align-items: center;
}

.block{
    background-color: var(--btn-block-bg-color);
}

.block:hover{
    background-color: var(--btn-block-hover-bg-color);
}