.create{
    font-family: 'Roboto', 'sans-serif';
    padding: 0.5rem 2rem;
    color: white;
    background-color: #5393FF;
    border-color: transparent;
    border-radius: 6px;
    box-shadow:1.5px 1px 1px rgba(0, 0, 0, 0.3);
    display: block;
}

.create:hover{
    background-color: #4185fb;
    color: rgb(228, 227, 227);
}


.delete{
    color: white;
    background-color: red;
    border-color: transparent;
    border-radius: 4px;
    box-shadow:1.5px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
}

.delete:hover{
    background-color: rgb(224, 2, 2);
    color: rgb(228, 227, 227);
}

.delete svg{
    width: 1.6rem;
    align-items: center;
}

.redact{
    color: white;
    background-color: #5393FF;
    border-color: transparent;
    border-radius: 4px;
    box-shadow:1.5px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
}

.redact:hover{
    background-color: #4185fb;
    color: rgb(228, 227, 227);
}

.redact svg{
    width: 1.6rem;
    align-items: center;
}

.tab-button{
    background-color: transparent;
    color: #999A9E;
    border-color: transparent;
    font-size: 1.2rem;
}

.active{
    text-decoration: underline;
    color: #80D7FA;
    background-color: transparent;
    
}

.confirm-action{
    color: white;
    background-color: rgb(148, 218, 43);
    border-color: transparent;
    border-radius: 4px;
    box-shadow:1.5px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
}

.confirm-action:hover{
    background-color:  rgb(126, 184, 39);
    color: rgb(228, 227, 227);
}

.confirm-action svg{
    width: 1.6rem;
    align-items: center;
}

.cancel-action{
    color: white;
    background-color: red;
    border-color: transparent;
    border-radius: 4px;
    box-shadow:1.5px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
}

.cancel-action:hover{
    background-color: rgb(224, 2, 2);
    color: rgb(228, 227, 227);
}

.cancel-action svg{
    width: 1.6rem;
    align-items: center;
}