@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

 body{
  font-family: 'Roboto', 'sans-serif';
  margin: 0;
 }

.valid-input{
  display: block;
  margin: 0;
  color: rgb(187, 50, 50);
  font-weight: 500;
  
}
